.header {
    margin-bottom: 80px;
    padding-top: 56px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 40px;
}

.menu-link {
    color: inherit;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.25 linear;
}

.menu-link:hover {
    color: var(--black);
    font-weight: bold;
}

.menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
}



.menu-bg{
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    background-color: #1e6edf;
    position: fixed;
    right: 15px;
    z-index: 0;
    transform: scale(0);
    transition: all 0.5s ease;
}
.is-active{
    transform: scale(100);
    z-index: 1;
}

.menu-close{
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    z-index: 10;
    font-weight: 300px;
}

.is-active-close{
    display: inline-block;
}



.is-load{
    opacity: 1 !important;
    visibility: visible !important;
}

@media screen and (max-width: 767px) {
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        width: 350px;
        flex-direction: column;
        text-align: center;
        /* transform: translateX(200%); */
        transition: all 0.5s linear;
        padding: 100px 20px;
    }

    .menu-link {
        display: block;
        padding: 15px 10px;
        color: white;
    }
    .menu-items{
        width: 100%;
        transition: all 0.2s linear;
       
    }

    .menu-toggle {
        display: block;
    }

}

@media screen and (max-width: 1023px) {
    .header {
        margin-bottom: 30px;
    }
}